<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Short Biography</h2>
<div class="summary">
    <p>I am Postdoc at UT Arlington in Prof. <a href="http://ranger.uta.edu/~huang/"> Prof. Junzhou Huang</a>'s lab. I am passionate at creating new machine learning algorithms to solve challenges met in the development of bioinformatics and biomedicine as well as developing real Artificial Agents to play challeging games, such as Atari, Alphago, Poker etc. Before the Postdoc at UTA, I spent one year in the Department of Statistics at the University of Michigan, starting September 2015. Prior to the working experience, I received my Ph.D. in the National Laboratory of Pattern Recognition (NLPR) at the Institute of Automation, Chinese Academy of Sciences (CASIA), advised by <a href="http://www.escience.cn/people/panchunhong/index.html/"> Prof. Chunhong Pan </a>, and <a href="http://www.escience.cn/people/smxiang/index.html"> Prof. Shiming Xiang </a> and Dr. Ying Wang. You can find my <a href="cv_fyzhu_20170325.pdf" target="_blank"> <u>nCV</u> </a> here.</p>
    <br>
    <p><b> Research Interests: </b> Deep Reinforcement Learning, Unsupervised Learning, Manifold Learning, Remote Sensing Image Analysis, Hyperspectal Image Unmixing </p>
</div><!--//summary-->
</section><!--//section-->
