<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>I am currently a 2rd year Ph.D. student from SMILE lab. My supervisor is <a href="http://ranger.uta.edu/~huang/"> Prof. Junzhou Huang </a>. I am passionate at applying machine learning algorithms to solve challenges met with the development of bioinformatics and biomedicine.
 You can find my <a href="cv.pdf" target="_blank">CV</a> here.</p>
</div><!--//summary-->
</section><!--//section-->
