<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Short Biography</h2>
<div class="summary">
    <p>I am currently a second year computer science Ph.D. student from UT Arlington. My supervisor is <a href="http://ranger.uta.edu/~huang/"> Prof. Junzhou Huang </a>. I am passionate at applying machine learning algorithms to solve challenges met with the development of bioinformatics and biomedicine. Before coming to UT Arlington, I spent 3 years in <a href="http://english.ia.cas.cn/">Institute of Automation, Chinese Academy of Sciences (CASIA)</a>. In CASIA, I built and tested intelligent algorithms for miniature autonomous vehicle. Besides that, I had also communicated science to over 10,000 people from 2013 to 2015. You can find my <a href="cv.pdf" target="_blank">CV</a> here.</p>
</div><!--//summary-->
</section><!--//section-->
