 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree"> Ph.D. in National Laboratory of Pattern Recognition </h4>
    <h5  class="meta"> 	Institute of Automation Chinese Academy of Sciences (CASIA) </h5>
    <div class="time"> 	2010 - 2015 </div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">	BSc in Image Processing </h4>
    <h5 class="meta"> 	Beihang University (BUAA) </h5>
    <div class="time"> 	2006 - 2010 </div>
</div><!--//item-->
</div><!--//education-container-->
