 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">Ph.D. in Computer Science</h4>
    <h5 class="meta">University of Texas at Arlington</h5>
    <div class="time">2015 - Present</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">MSc in Control Theory and Control Engineering</h4>
    <h5 class="meta">Institute of Automation, Chinese Academy of Sciences</h5>
    <div class="time">2012 - 2015</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BSc in Telecommunication Engineering</h4>
    <h5 class="meta">Civil Aviation University of China</h5>
    <div class="time">2008 - 2012</div>
</div><!--//item-->
</div><!--//education-container-->
