<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Research Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Survival Analysis from Small Sample Medical Datasets</h3>
                            <div class="time">2016.03 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">SMILE Lab, UT Arlington</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                        <li>Survival analysis is very important in medical treatment, but leading research is challenged by three properties of medical data: 1) the datasets are usually in multiple views; 2) they are in small sample size; and 3) the whole slide pathology images are in gigapixel size. To solve those problems: <ul><li>Efficient deep learning models with specific training strategies were developed to solve the first two problems;</li><li>A novel framework was also created to solve the third challenge.</li></ul>></li>
                        <li>1 paper accepted by IEEE BIBM 2016, 2 papers submitted to SDM 2017 and 1 paper submitted to CVPR 2017.</li>
                        </ul>


                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Software Engineer</h3>
                            <div class="time">2014 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Google, London</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">UI Developer</h3>
                            <div class="time">2012 - 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Amazon, London</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->