<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Research Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Survival Analysis from Small Sample Medical Datasets</h3>
                            <div class="time">2016.03 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">SMILE Lab, UT Arlington</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                        <li>Survival analysis is very important in medical treatment, but leading research is challenged by three properties of medical data: 1) the datasets are usually in multiple views; 2) they are in small sample size; and 3) the whole slide pathology images are in gigapixel size. To solve those problems: <ul><li>Efficient deep learning models with specific training strategies were developed to solve the first two problems;</li><li>A novel framework was also created to solve the third challenge.</li></ul></li>
                        <li>1 paper accepted by IEEE BIBM 2016, 2 papers submitted to SDM 2017 and 1 paper submitted to CVPR 2017.</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Big Image-Omics Data Analytics for Clinical Outcome Prediction</h3>
                            <div class="time">2015.09 - 2016.03</div>
                        </div><!--//upper-row-->
                        <div class="company">SMILE Lab, UT Arlington</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                            <li>
                            In this research, we explored analyzing Image-Omics data for clinical outcome prediction from three aspects:
                            <ul>
                                <li>
                                Integrating features extracted from pathology image patches with genetic signature expressions to improve the survival prediction accuracy;
                                </li>
                                <li>
                                Developing methods for imaging biomarker discovery;
                                </li>
                                <li>
                                Mapping clinical outcome correlated Imaging-Genetic data by developing supervised conditional Gaussian graphical model (SuperCGGM).
                                </li>
                            </ul>
                            </li>
                            <li>
                            3 papers accepted by IEEE ISBI 2016, MICCAI 2016 and IEEE BIBM 2016 respectively.
                            </li>
                        </ul>
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Pedestrian Detection with RGBD Data in Outdoor Scene</h3>
                            <div class="time">2014.03 - 2015.06</div>
                        </div><!--//upper-row-->
                        <div class="company">Institute of Automation, CAS</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                            <li>
                            As a popular research topic, pedestrian detection has played an important role in both Intelligent Transportation Systems and Autonomous Vehicles. RGBD images are with the advantages of both RGB images and depth images. However, for the outdoor usage, the existing RGBD sensors like Kinect were inapplicable. Thus, in this research:
                            <ul>
                                <li>
                                Created a novel method for RGB and depth images registration in outdoor scenes;
                                </li>
                                <li>
                                Collected over 10,000 RGBD outdoor pedestrain RGBD images;
                                </li>
                                <li>
                                Developed a fast pedestrian detection framework based on RGBD images.
                                </li>
                            </ul>
                            </li>
                            <li>
                            1 patent on RGB image and depth image registration is pending.
                            </li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->