<section class="section publications-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>News</h2>
                
                <div class="item">
                    <ul>
                    <li>11/2016 Awarded IEEE BIBM 2016 Student Travel Award </li>
                    <br>
                    <li> 10/2016 Two papers accpeted by BIBM 2016 </li>
                    <br>
                    <li> 05/2016 One paper accepted by MICCAI 2016 </li>
                    <br>
                    <li> 12/2015 One paper accepted by ISBI 2016 </li>
                    </ul>                   
                </div><!--//item-->
                
            </section><!--//section-->