<section class="section publications-section">
             <h2 class="section-title"><i class="fa fa-archive"></i>News</h2>                
                <div class="item">
                 <ul>
                    <li> 04/2017 One paper on Actor-Critic Reinforcement Learning for Mobile Health Intervention is provided on <a href="https://arxiv.org/abs/1703.10039" > <u> ArXiv </u> </a> </li>
                    <br>
                    <li> 03/2017 <font color="red"> One paper accepted by CVPR 2017 </font></li>
                    <br>
                  </ul>                   
                </div><!--//item-->
            </section><!--//section-->
