<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <!--<div class="intro">
                    <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
                </div>--><!--//intro-->
                <div class="item">
                    <span class="project-title"><h5>Large Scale Learning for Complex Image-Omics Data Analytics</h5><p style="font-size: 14px">This project aims to develop computational tools for analyzing complex pathology image data as well genomics data. To solve the key and challenging problems in mining comprehensive heterogeneous image and genomic data, novel large scale learning tools and explore ways to integrate features from multiple data sources for clinical outcome prediction are developed. It will greatly support the Precision Medicine Initiative, which enables physicians to select individualized treatments. <font color="blue">I work on develop feature learning from gigapixel whole slide pathology images and integrating imaging-omics data methods.</font></p></span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><h5>Miniature Autonomous Vehicle</h5><p style="font-size: 14px">The miniature autonomous vehicle was built from a toy car. It mainly consisted of a toy car, 3 web cameras, 1 ultrasonic radar and a motherboard equipped with Ubuntu 12.04LTS. It could do traffic signs recognition, traffic light recognition, road line detection and also be with the basic functions of a toy car. <font color="blue">I was in charge of building the traffic signs recognition module and testing the hardware &amp; software architecture.</font><p></span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><h5>SOAR-based Air Traffic Control Simulation System</h5><p style="font-size: 14px">Using SOAR as a cognition architecture to simulate an air traffic controller’s decision making could potentially make the training of an air traffic controller easier and with more fun. <font color="blue">I was the software architect of the whole system and the main designer of the rules used in SOAR architecture</font></p></span>
                </div><!--//item-->
            </section><!--//section-->