<section class="section publications-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Publications</h2>
                <div class="item">
                    <span class="project-title"><p><b>Xinliang Zhu</b>, Jiawen Yao, Guanghua Xiao, Yang Xie, Jaime Rodriguez-Canales, Edwin R. Parra, Carmen Behrens, Ignacio I. Wistuba and Junzhou Huang. Imaging-Genetic Data Mapping for Clinical Outcome Prediction via Supervised Conditional Gaussian Graphical Model (Regular Paper: acceptance rate ~19%), <i>IEEE International Conference on Bioinformatics and Biomedicine</i>(<b>BIBM</b>) 2016.</p></span>                    
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><p><b>Xinliang Zhu</b>, Jiawen Yao and Junzhou Huang. Deep Convolutional Neural Network for Survival Analysis with Pathological Images ( Short Paper: acceptance rate ~19% ), <i>IEEE International Conference on Bioinformatics and Biomedicine</i> (<b>BIBM</b>) 2016.</p></span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><p>Jiawen Yao, Sheng  Wang, <b>Xinliang Zhu</b> and Junzhou Huang. Imaging Biomarker Discovery for Lung Cancer Survival Prediction (<b><font style="color: red">Oral</font></b>), <i>International Conference on Medical Image Computing and Computer-Assisted Intervention: 2016</i>(<b>MICCAI</b>), 649--657, 2016.</p></span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><p><b>Xinliang Zhu</b>, Jiawen Yao, Xin Luo, Guanghua  Xiao, Yang Xie, Adi Gazdar and Junzhou Huang. Lung cancer survival prediction from pathological images and genetic data—An integration study, <i>2016 IEEE 13th International Symposium on</i> (<b>ISBI</b>), 1173-1176, 2016.</p></span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><p>Feiyun Zhu, Bin Fan, <b>Xinliang Zhu</b>, Ying Wang, Shiming Xiang and Chunhong Pan. 10,000+ Times Accelerated Robust Subset Selection (ARSS), <i>Proc. Assoc. Adv. Artif. Intell 2015</i>(<b>AAAI</b>).</p></span>
                </div><!--//item-->
            </section><!--//section-->