<section class="section publications-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Publications</h2>

                <!-- *************************************************************** -->
                <h4 class="subsubsection-title"><i class="fa fa-archive"></i> Peer-reviewed Journal Papers</h4>

                <div class="item">
                    <span class="project-title">
                    <p style="font-size:14px"> Guangliang Cheng, <b>Feiyun Zhu</b>, Shiming Xiang and Chunhong Pan. <p style="color:=deepskyblue"> <a href="http://ieeexplore.ieee.org/document/7414402" > "Road Centerline Extraction via Semisupervised Segmentation and Multidirection Nonmaximum Suppression" </a> </p>, IEEE Transactions on Geoscience and Remote Sensing Letters, vol. 37, no. 1, pp. 191-211 (<b>IEEE TGRSL</b>) 2016. </p></span>                    
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><p style="font-size: 14px"><b>Xinliang Zhu</b>, Jiawen Yao and Junzhou Huang. <font color="deepskyblue"> Deep Convolutional Neural Network for Survival Analysis with Pathological Images </font>, <i>IEEE International Conference on Bioinformatics and Biomedicine</i> (<b>BIBM</b>) 2016. ( Short Paper: acceptance rate ~19% )</p></span> 
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><p style="font-size: 14px">Jiawen Yao, Sheng  Wang, <b>Xinliang Zhu</b> and Junzhou Huang. <font color="deepskyblue">Imaging Biomarker Discovery for Lung Cancer Survival Prediction </font> , <i>International Conference on Medical Image Computing and Computer-Assisted Intervention: 2016</i> (<b>MICCAI</b>), 649--657, 2016. (<b><font style="color: red">Oral</font></b>)</p></span> 
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><p style="font-size: 14px"><b>Xinliang Zhu</b>, Jiawen Yao, Xin Luo, Guanghua  Xiao, Yang Xie, Adi Gazdar and Junzhou Huang. <font color="deepskyblue"> Lung cancer survival prediction from pathological images and genetic data—An integration study </font>, <i>2016 IEEE 13th International Symposium on</i> (<b>ISBI</b>), 1173-1176, 2016.</p></span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><p style="font-size: 14px">Feiyun Zhu, Bin Fan, <b>Xinliang Zhu</b>, Ying Wang, Shiming Xiang and Chunhong Pan. <font color="deepskyblue"> 10,000+ Times Accelerated Robust Subset Selection (ARSS)</font>, <i>Proc. Assoc. Adv. Artif. Intell 2015</i> (<b>AAAI</b>).</p></span>
                </div><!--//item-->

                <!-- *************************************************************** -->
                <h3 class="subsubsection-title"><i class="fa fa-archive"></i> Peer-reviewed Conference Papers </h3>
                <div class="item">
                    <span class="project-title"><p style="font-size: 14px">Xinliang Zhu, Jiawen Yao, <b>Feiyun Zhu</b> and Junzhou Huang. <font color="deepskyblue">WSISA: Making Survival Prediction from Whole Slide Pathology Images </font> , <i><b>CVPR 2017.</b></span>                    
                </div><!--//item--> 


                <!-- *************************************************************** -->
                <h3 class="subsubsection-title"><i class="fa fa-archive"></i> Preprint </h3>


            </section><!--//section-->
