<section class="section publications-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Publications</h2>

                <!-- *************************************************************** -->
                <h4 class="subsubsection-title"><i class="fa fa-archive"></i> Peer-reviewed Journal Papers</h4>

                <ol>

                    <li> 
                        <span class="project-title"><p style="font-size: 14px"> Guangliang Cheng, <b>Feiyun Zhu</b>, Shiming Xiang and Chunhong Pan. <font color="deepskyblue">  <a href="http://ieeexplore.ieee.org/document/7414402" > "Road Centerline Extraction via Semisupervised Segmentation and Multidirection Nonmaximum Suppression" </a> </font>, <i> IEEE Transactions on Geoscience and Remote Sensing Letters, vol. 37, no. 1, pp. 191-211 (<b>IEEE TGRSL</b>), 2016. </p></span> 
                    </li>

                    <li> 
                        <span class="project-title"><p style="font-size: 14px"> Guangliang Cheng, <b>Feiyun Zhu</b>, Shiming Xiang, Ying Wang and Chunhong Pan. <font color="deepskyblue">  <a href="http://www.sciencedirect.com/science/article/pii/S0925231216302855" > "Accurate urban road centerline extraction from VHR imagery via multiscale segmentation and tensor voting" </a> </font>, <i>  Elsevier Neurocomputing, vol. 205, pp. 407-420, 2016. </p></span> 
                    </li>

                     <li>                  
                        <span class="project-title"><p style="font-size: 14px"> Haichang Li, Ying Wang, Shiming Xiang, Jiangyong Duan, <b>Feiyun Zhu</b>, Chunhong Pan. <font color="deepskyblue">  <a href="http://www.tandfonline.com/doi/abs/10.1080/01431161.2015.1125547" > "A label propagation method using spatial-spectral consistency for hyperspectral image classification" </a> </font>, <i> International Journal of Remote Sensing, vol. 37, no. 1, pp. 191-211, 2016. </p></span> 
                    </li>

                    <li>
                        <span class="project-title"><p style="font-size: 14px"> Guangliang Cheng, <b>Feiyun Zhu</b>, Shiming Xiang and Chunhong Pan. <font color="deepskyblue">  <a href="http://ieeexplore.ieee.org/document/7414402" > "Road Centerline Extraction via Semisupervised Segmentation and Multidirection Nonmaximum Suppression" </a> </font>, <i> IEEE Transactions on Geoscience and Remote Sensing Letters, vol. 37, no. 1, pp. 191-211 (<b>IEEE TGRSL</b>), 2016. </p></span> 
                    </li>

                     <li>
                        <span class="project-title"><p style="font-size: 14px"> Guangliang Cheng, <b>Feiyun Zhu</b>, Shiming Xiang and Chunhong Pan. <font color="deepskyblue">  <a href="http://ieeexplore.ieee.org/document/7414402" > "Road Centerline Extraction via Semisupervised Segmentation and Multidirection Nonmaximum Suppression" </a> </font>, <i> IEEE Transactions on Geoscience and Remote Sensing Letters, vol. 37, no. 1, pp. 191-211 (<b>IEEE TGRSL</b>), 2016. </p></span> 
                    </li>

                    <li>
                        <span class="project-title"><p style="font-size: 14px"> Guangliang Cheng, <b>Feiyun Zhu</b>, Shiming Xiang and Chunhong Pan. <font color="deepskyblue">  <a href="http://ieeexplore.ieee.org/document/7414402" > "Road Centerline Extraction via Semisupervised Segmentation and Multidirection Nonmaximum Suppression" </a> </font>, <i> IEEE Transactions on Geoscience and Remote Sensing Letters, vol. 37, no. 1, pp. 191-211 (<b>IEEE TGRSL</b>), 2016. </p></span> 
                    </li>
                </ol>

                <!-- *************************************************************** -->
                <h3 class="subsubsection-title"><i class="fa fa-archive"></i> Preprint </h3>


            </section><!--//section-->
