<div class="education-container container-block">
<h2 class="container-block-title"> Working Experience </h2>
<div class="item">
    <h4 class="degree"> Postdoc Research Fellow at Department of CSE </h4>
    <h5  class="meta"> 	University of Texas at Arlington </h5>
    <div class="time"> 	2016 - Now </div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">	Postdoc Research Fellow at Department of Statistics </h4>
    <h5 class="meta"> 	University of Michigan </h5>
    <div class="time"> 	2015 - 2016 </div>
</div><!--//item-->
</div><!--//education-container-->

 <!--  <div class="education-container container-block">
<h2 class="container-block-title">Working Experience</h2>
<div class="item">
    <h4 class="degree"> Postdoc Research Fellow at Department of CSE </h4>
    <h5  class="meta"> 	Institute of Automation Chinese Academy of Sciences (CASIA) </h5>
    <div class="time"> 	2010 - 2015 </div>
</div><!--//item
<div class="item">
    <h4 class="degree">	BSc in Image Processing </h4>
    <h5 class="meta"> 	Beihang University (BUAA) </h5>
    <div class="time"> 	2006 - 2010 </div>
</div><!--//item-->
<!-- </div>//education-container --> --> -->
